.search-container {
    background-color: #E6F7FF;
    height: 270px;
    margin-left: 90px;
    margin-top: 50px;
    border-radius: 10px;
    width: 1251px;
}

.search-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    
}

.search-card{
    margin-left: 94px;
    padding-top: 66px;
    margin-bottom: 42px;
}