.not-found{
    margin-top: 20px;
    margin-left: 90px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 1241px;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}